<h2>Add an Author</h2>

<form action="/process-author" method="POST">
  <input type="text" name="name" placeholder="Author Name..." />
  <br />
  <input type="text" name="lastName" placeholder="Last Name..." />
  <br />
  <input type="text" name="nationality" placeholder="Nationality..." />
  <br />
  <input type="date" name="birthday" placeholder="Birthday..." />
  <br />
  <input type="text" name="pictureUrl" placeholder="Picture URL..." />
  <br />
  <button>Save Author</button>
</form>
