<h2>Add a book</h2>

<!-- STEP #4 of CREATE form (browser sends request) -->
<form action="/process-book" method="POST">
  <input type="text" name="title" placeholder="Title..." />
  <br />
  <input type="text" name="author" placeholder="Author..." />
  <br />
  <input type="text" name="description" placeholder="Description..." />
  <br />
  <input type="number" name="rating" placeholder="Rating (1-10)" />
  <br />

  <button>Save This Book</button>
</form>
