<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>Banana Books</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/books">Our Books</a>
        <a href="/author/add">Add an Author</a>
      </nav>
    </header>

    {{{body}}}

    <script src='/javascripts/script.js' />
  </body>
</html>
